<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

    <div class="py-4">
        <div class="subtitle_css"><i class="bi bi-people"></i> 사용자 관리</div>

        <!-- 검색 필터 -->
        <div class="my-3">
            <form th:action="@{/members/list}" method="get" id="searchForm"
                  class="d-flex flex-column flex-sm-row justify-content-end align-items-end align-items-sm-center gap-2">
                <select name="type" class="pointer_orange form-select responsive-select">
                    <option value="" th:selected="${type == ''}">이름/아이디</option>
                    <option value="name" th:selected="${type == 'name'}">이름</option>
                    <option value="loginId" th:selected="${type == 'loginId'}">아이디</option>
                </select>
                <input type="text" class="form-control line2_css responsive-select"
                       id="search_kw" th:value="${kw}" name="kw">
                <button class="btn_search px-4" id="btn_search" type="submit">검색</button>
                <input type="hidden" id="page" name="page"
                       th:value="${paging != null ? paging.number : 0}">
            </form>
        </div>


        <!-- 테이블 -->
        <div class="table-responsive py-3">
            <table class="table table-bordered text-center align-middle table1_css">
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>직책</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member, loop : ${paging.content}">
                    <td th:text="${member.loginId}">aaa</td>
                    <td th:text="${member.name}">윤팀장</td>
                    <td th:text="${member.phone}">010-4444-5555</td>
                    <td th:text="${member.positionName}">admin</td>
                    <td>
                        <a type="button"
                           class="btn_sm_orange"
                           style="margin-left: auto; margin-right: auto; display: flex; justify-content: center;"
                           th:href="@{/members/{id}/edit(id=${member.id})}">
                            수정
                        </a>
                    </td>

                    <td><button type="button" class="btn_sm_red" data-bs-toggle="modal" th:attr="data-bs-target='#cancelMember'+${member.id}">삭제</button>
                    </td>
                    <!-- 취소 모달창 -->
                    <div class="modal" th:id="cancelMember+${member.id}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">회원 삭제</h5>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="|${member.name} 님을 삭제하시겠습니까?|"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                    <a class="btn btn-danger" style="background-color: red; color: white"
                                       th:href="@{/members/{id}/delete(id=${member.id})}">삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 페이징 처리 시작 -->
    <div th:if="${!paging.isEmpty()}" class="py-3 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination gyul-pagination">
                <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number - 1}">&lt;</a>
                </li>
                <li class="page-item"
                    th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                    th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                    th:classappend="${page == paging.number} ? 'active'">
                    <a class="page-link" href="javascript:void(0)" th:text="${page + 1}" th:data-page="${page}">1</a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number + 1}">&gt;</a>
                </li>
            </ul>
        </nav>
    </div>

</th:block>

<script th:inline="javascript" layout:fragment="script">
        $(function () {
        $(document).on('click', '.page-link', function () {
            let page = $(this).data('page');
            console.log("선택된 페이지 번호:", page);  // 반드시 숫자 확인
            if (page !== undefined) {
                $('#page').val(page);
                $('#searchForm').submit();
            }
        });

        // 검색 버튼 클릭
        $("#btn_search").on('click', function () {
        $('#page').val(0);
        $('#searchForm').submit();
    });

        // 엔터 입력 처리
        $("#search_kw").on("keypress", function(e) {
        if (e.which === 13) {
        e.preventDefault();
        $("#btn_search").click();
    }
    });
    });
</script>
</html>
