<!-- 기본 네비게이션 (lg사이즈에서만 고정으로 나오는것) -->
<!-- layout/navbar.html -->
<div class="side-nav border-end p-3 text-white min-vh-100 navbar_css"
     th:fragment="navbarFragment">

    <div class="ms-3">
        <!-- 로고 + 사용자 -->
        <div class="mb-3 d-flex align-items-center">
            <a href="/" class="d-inline-block">
                <img src="/images/logo.png" alt="귤렉트릭로고" style="height: 50px;">
            </a>
            <h5 class="fw-bold text-uppercase mb-0">GYULLECTRIC</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center small mx-auto" style="width: fit-content;">
            <span th:if="${loginMember == null}">
                <a th:href="@{/signup}" class="text-white" >SIGN UP</a>
            </span>
            <span th:if="${loginMember != null}">
                <span th:text="${loginMember.name} + '님'"></span>
            </span>
            <span th:if="${loginMember == null}">
            <a href="/login" class="text-decoration-none text-white ms-4">LOGIN</a>
            </span>
            <span th:if="${loginMember != null}">
            <a href="/logout" class="text-decoration-none text-white ms-4">LOGOUT</a>
            </span>
        </div>

        <!-- 상위 메뉴 -->
        <ul class="mt-2 nav flex-column">
            <li class="nav-item" th:if="${loginMember != null}"><a th:href="@{/user/{id}/edit(id=${loginMember.id})}" class="nav-link text-white px-0">MY PAGE</a></li>
            <li class="nav-item" th:if="${loginMember != null and loginMember.positionName.name() == 'ADMIN'}"><a href="/members/list" class="nav-link text-white px-0" >사용자 관리</a></li>
            <li class="nav-item"><a href="/dashboard/main" class="nav-link text-white px-0">
                <i class="bi bi-easel"></i> 대시보드</a></li>

            <!-- ORDER -->
            <li class="nav-item mt-0">
                <a class="nav-link text-white px-0 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#orderMenu" role="button">
                    <span><i class="bi bi-box-seam me-1"></i> ORDER</span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="collapse show" id="orderMenu">
                    <ul class="nav flex-column ms-3">
                        <li><a href="/order/inventory" class="nav-link text-white px-2">재고관리</a></li>
                        <li><a href="/order/history" class="nav-link text-white px-2">발주조회</a></li>
                        <li><a href="/order/list" class="nav-link text-white px-2">ORDER LIST</a></li>
                    </ul>
                </div>
            </li>

            <!-- 공정 모니터링 -->
            <li class="nav-item"><a href="/monitoring" class="nav-link text-white px-0">
                <i class="bi bi-easel"></i> 공정 모니터링 </a></li>

            <!-- 에러관리 -->
            <li class="nav-item mt-2">
                <a class="nav-link text-white px-0 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#errorMenu" role="button">
                    <span><i class="bi bi-exclamation-triangle-fill"></i> 에러관리 </span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="collapse show" id="errorMenu">
                    <ul class="nav flex-column ms-3">
                        <li><a href="/errors/report" class="nav-link text-white px-2">에러리포트</a></li>
                        <li><a href="/errors/guide" class="nav-link text-white px-2">에러대처가이드</a></li>
                    </ul>
                </div>
            </li>

            <!-- 생산지표 관리 -->
            <li class="nav-item mt-2">
                <a class="nav-link text-white px-0 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#prodMenu" role="button">
                    <span><i class="bi bi-bar-chart-fill"></i> 생산지표 관리 </span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="collapse show" id="prodMenu">
                    <ul class="nav flex-column ms-3">
                        <li><a href="/indicators/statistics" class="nav-link text-white px-2">생산통계</a></li>
                        <li><a href="/indicators/analysis" class="nav-link text-white px-2">생산분석</a></li>
                        <li><a href="/indicators/order-predict" class="nav-link text-white px-2">발주예측</a></li>
                        <li><a href="/indicators/defect-predict" class="nav-link text-white px-2">불량예측</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
