<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="content">
    <div>
    <form method="post"  th:object="${answerForm}">
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div class="position-relative mb-1">
            <textarea class="form-control line_css" style="min-height: 100px; margin-bottom: 60px;" th:field="*{content}"></textarea>
            <button type="submit"
                    class="btn_orange btn-sm px-4 position-absolute"
                    style="color: white; bottom: 10px; right: 10px; width: 100px; height: 40px">
                답글작성
            </button>
        </div>
    </form>
    </div>
</th:block>
</html>