<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="alert">
    <div class="dashboard_error">
        <p style="margin: 0;">제 2공정 : 101 ERROR</p>
    </div>
    <div style="background-color: #FFC373; padding: 8px 0; text-align: start; vertical-align: middle;">
        <a href="/errors/report" class="btn_black ms-3" style="display: inline-flex; width: 120px; height: 40px; border-radius: 10px; background-color: #E2E2E2; color: #000000">REPORT</a>
        <a href="/dashboard/notice" class="btn_black ms-2" style="display: inline-flex; width: 120px; height: 40px; border-radius: 10px; background-color: #E2E2E2; color: #000000">공지사항</a>
    </div>
</th:block>
</html>


